@use '@styles/variables.scss' as *;
@use '@styles/mixins.scss' as *;

.button {
  @include button-base;
  @include button-hover-lift;

  &.primary {
    @include button-primary;
  }

  &.secondary {
    @include button-secondary;
  }

  &.ghost {
    background: transparent;
    color: var(--text-secondary);
    border: 1px solid transparent;

    &:hover:not(:disabled) {
      background: var(--bg-gray-50);
      color: var(--text-primary);
    }
  }

  &.danger {
    background: var(--error);
    color: var(--text-white);

    &:hover:not(:disabled) {
      background: #dc2626;
    }
  }

  // Size variants
  &.small {
    height: 32px;
    padding: 0 var(--space-3);
    font-size: var(--font-size-xs);
  }

  &.large {
    height: 48px;
    padding: 0 var(--space-6);
    font-size: var(--font-size-base);
  }

  // Loading state
  &.loading {
    color: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border: 2px solid currentColor;
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 0.6s linear infinite;
    }

    &.primary::after {
      border-color: rgba(255, 255, 255, 0.3);
      border-top-color: white;
    }
  }

  // Icon button
  &.icon {
    width: 40px;
    padding: 0;
    
    &.small {
      width: 32px;
    }

    &.large {
      width: 48px;
    }
  }

  // Full width
  &.fullWidth {
    width: 100%;
  }
}